<!-- Row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Add Sale Invoice Form</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <form
              class="needs-validation"
              novalidate
              [formGroup]="purchuseInvoiceForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label>Purchase Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="purchaseNumber"
                    placeholder="purchase Number"
                    formControlName="purchaseNumber"
                    required
                  />
                </div>
                <div class="col-md-4 mb-3">
                  <label>Purchase Date</label>
                  <input
                    type="number"
                    class="form-control"
                    id="purchaseDate"
                    placeholder="purchase Date"
                    formControlName="purchaseDate"
                    required
                  />
                </div>

                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label>Supplier</label>
                    <div class="cal-icon">
                      <input
                        class="form-control"
                        placeholder="supplier"
                        type="text"
                        formControlName="supplier"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-header col-md-4 mb-3">
                <h5 class="card-title">Products</h5>
              </div>
              <ng-container formArrayName="Products">
                <div *ngFor="let product of Products.controls; index as i">
                  <div class="form-row">
                    <ng-container
                      [formGroupName]="i"
                      *ngFor="let element of newSection"
                    >
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Serial Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Serial Number"
                          formControlName="productId"
                          required
                        />
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Quantity</label>
                        <input
                          type="number"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Quantity"
                          formControlName="quantity"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addNewSection()"
                >
                  Add another product
                </button>
              </div>
              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- /Validation Tooltips -->
  </div>
</div>
<!-- /Row -->
