<!-- Row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Add Purchase Invoice Form</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <form
            autocomplete="off"
              class="needs-validation"
              novalidate
              [formGroup]="purchuseInvoiceForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-row">
          

                <div class="col-md-4 mb-3" *ngIf="showSupplierInput">
                  <label>Supplier</label>
                  <input
                    type="text"
                    class="form-control"
                    id="purchaseNumber"
                    placeholder="supplier"
                    formControlName="supplier"
                    required
                  />
                </div>
              </div>

              <div class="card-header col-md-4 mb-3">
                <h5 class="card-title">Products</h5>
              </div>

              <ng-container formArrayName="purchaseCartProducts">
                <div  *ngFor="let element of purchaseCartProducts.controls; let x = index">
                  <div class="form-row">
                    <ng-container
                      [formGroupName]="x"
                
                    >
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Serial Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Serial Number"
                          formControlName="serialNumber"
                          required
                        />
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Model</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="model"
                          formControlName="model"
                          required
                         
                          autocomplete="off"
                        />
                     
                      </div>
                 
                
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="adddNewSection()"
                >
                  Add Product
                </button>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <label class="d-block">Add Accessories:</label>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="avaliable_yes_apart"
                      id="apart"
                      [value]="true"
                      (click)="setRadio(1)"
                    />
                    <label class="form-check-label" for="apart"
                      >Yes</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="avaliable_yes_apart"
                      id="avaliable_no_apart"
                      [value]="false"
                      (click)="setRadio(0)"
                    />
                    <label
                      class="form-check-label"
                      for="avaliable_no_apart"
                      >No</label
                    >
                  </div>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-primary accsosories">Add Accessories</button> -->
              <ng-container
                formArrayName="purchaseCartAccessories"
                *ngIf="displayAccesoryField"
              >
                <hr />

                <div  *ngFor="let element of purchaseCartAccessories.controls; let x = index">
                  <div class="form-row">
                    <ng-container
                      [formGroupName]="x"
                     
                    >
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Type</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Type"
                          formControlName="type"
                          required
                        />
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Price</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="price"
                          formControlName="price"
                          required
                        />
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Quantity</label>
                        <input
                          type="number"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Quantity"
                          formControlName="quantity"
                          required
                        />
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="text-right">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addAccessories()"
                  >
                    Add Accessory
                  </button>
                </div>
              </ng-container>

              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- /Validation Tooltips -->
  </div>
</div>
<!-- /Row -->
