<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Maintenance Inside Store Form</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="serialNumber">Product Serial Number:</label>
            <input
              autocomplete="off"
              type="text"
              class="form-control"
              formControlName="serialNumber"
              name="serialNumber"
              placeholder="Enter Product Serial Number"
              [ngClass]="{
                'is-invalid': submitted && form.controls.serialNumber.errors
              }"
              #Serial
              [(ngModel)]="search"
              (keypress)="enterPressed($event)"
              (keyup)="searchSerial(search)"
            />
            <div
              class="alert alert-danger my-1 p-2 fadeInDown animated"
              *ngIf="submitted && form.controls.serialNumber.errors"
            >
              Enter Valid serial Number
            </div>
            <div *ngFor="let post of allSerialNumbers | filter: search">
              <a
                (click)="selectedSerial(post)"
                *ngIf="!displayRecomendedSerial"
                >{{ post }}</a
              >
            </div>
          </div>
          <div class="text-right">
            <button
              type="button"
              *ngIf="!started"
              class="btn btn-primary"
              (click)="onStart()"
            >
              Start Maintenance
            </button>
          </div>
        </form>
        <form *ngIf="started" [formGroup]="MaintenanceInsideForm">
          <div class="form-group">
            <label class="d-block">Spare Parts Added:</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                formControlName="isAdded"
                [(ngModel)]="type"
                type="radio"
                value="true"
                name="isAdded"
                [ngClass]="{
                  'is-invalid':
                    submitted2 && MaintenanceInsideForm.controls.isAdded.errors
                }"
              />
              <label class="form-check-label" for="gender_male">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                formControlName="isAdded"
                [(ngModel)]="type"
                type="radio"
                value="false"
                name="isAdded"
                [ngClass]="{
                  'is-invalid':
                    submitted2 && MaintenanceInsideForm.controls.isAdded.errors
                }"
              />
              <label class="form-check-label" for="gender_female">No</label>
            </div>
            <div
              class="alert alert-danger my-1 p-2 fadeInDown animated"
              *ngIf="
                submitted2 && MaintenanceInsideForm.controls.isAdded.errors
              "
            >
              Please Choose Yes or No
            </div>
          </div>
          <div *ngIf="type == 'true'">
            <div class="form-group">
              <label class="d-block">Existence:</label>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  [(ngModel)]="existence"
                  type="radio"
                  formControlName="Existence"
                  value="true"
                  name="Existence"
                  [ngClass]="{
                    'is-invalid':
                      submitted2 &&
                      MaintenanceInsideForm.controls.Existence.errors
                  }"
                  (change)="onItemChange($event.target.value)"
                />
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  [(ngModel)]="existence"
                  formControlName="Existence"
                  type="radio"
                  value="false"
                  name="Existence"
                  [ngClass]="{
                    'is-invalid':
                      submitted2 &&
                      MaintenanceInsideForm.controls.Existence.errors
                  }"
                  (change)="onItemChange2($event.target.value)"
                />
                <label class="form-check-label">No</label>
              </div>
              <div
                class="alert alert-danger my-1 p-2 fadeInDown animated"
                *ngIf="
                  submitted2 && MaintenanceInsideForm.controls.Existence.errors
                "
              >
                Please Choose Yes or No
              </div>
            </div>
            <div *ngIf="existence == 'true'">
              <div formArrayName="MaintenanceData">
                <div
                  class="form-group"
                  *ngFor="
                    let element of MaintenanceData.controls;
                    let x = index
                  "
                >
                  <div [formGroupName]="x">
                    <label>Part Serial Number:</label>
                    <input
                      formControlName="sparePartNumber"
                      type="text"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="text-right mb-5">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addNewSection()"
                >
                  Add Another Part
                </button>
              </div>
            </div>
            <div *ngIf="existence == 'false'">
              <div formArrayName="sparePartsData">
                <div
                  *ngFor="let element of sparePartsData.controls; let x = index"
                >
                  <div [formGroupName]="x">
                    <div class="form-group">
                      <label>Part Serial Number:</label>
                      <input
                        type="text"
                        formControlName="serialNumber"
                        class="form-control"
                      />
                    </div>
                    <div class="form-group">
                      <label class="d-block">Inside Product:</label>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          value="true"
                          formControlName="isInside"
                          [(ngModel)]="newPart[x]"
                          [name]="x"
                        />
                        <label class="form-check-label">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input
                          class="form-check-input"
                          type="radio"
                          value="false"
                          formControlName="isInside"
                          [(ngModel)]="newPart[x]"
                          [name]="x"
                        />
                        <label class="form-check-label">No</label>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="newPart[x] == 'true'">
                      <label>Product Serial Number:</label>
                      <input
                        type="text"
                        formControlName="product"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-primary mb-5"
                  (click)="addNewPart()"
                >
                  Add Another Spare Part
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="d-block">Repaired:</label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                formControlName="repaired"
                value="true"
                name="repaired"
                [ngClass]="{
                  'is-invalid':
                    submitted2 && MaintenanceInsideForm.controls.repaired.errors
                }"
              />
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                formControlName="repaired"
                type="radio"
                value="false"
                name="repaired"
                [ngClass]="{
                  'is-invalid':
                    submitted2 && MaintenanceInsideForm.controls.repaired.errors
                }"
              />
              <label class="form-check-label">No</label>
            </div>
            <div
              class="alert alert-danger my-1 p-2 fadeInDown animated"
              *ngIf="
                submitted2 && MaintenanceInsideForm.controls.repaired.errors
              "
            >
              Please Choose Yes or No
            </div>
          </div>
          <div class="text-right">
            <button (click)="onSubmit()" type="button" class="btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>

