<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
      

          <nz-table #basicTable [nzData]="invoices">
            <thead>
              <tr>
             
              
                <th>Purchase Number</th>
                <th>Supplier</th>
                <th>Date</th>
                <th class="text-right">Details</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
               
                <td>{{ data.purchaseNumber }}</td>
                <td>{{ data.supplier }}</td>
                <td>{{data.purchaseDate |date: 'dd/MM/yyyy'}}</td>
                <td class="text-right">
                  <a class="table-action-btn btn btn-sm bg-success-light" (click)="viewDetails(data._id)">
                    View all details
                  </a>
                </td>
            
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>

