     <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-triangle-path"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<!-- Page Header -->
<div class="page-header">
	<div class="row">
		<div class="col-12">
			<h3 class="page-title">Welcome {{userr?.name}} <span style="color:#ff0080;">!</span></h3>
		</div>
	</div>
</div>
<!-- /Page Header -->
<div class="row">
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-body">
				<div class="dash-widget-header">
					<span class="dash-widget-icon bg-primary">
						<i class="far fa-user"></i>
					</span>
					<div class="dash-widget-info">
						<h3>{{nameOfUser}}</h3>
						<h6 class="text-muted">Users</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-body">
				<div class="dash-widget-header">
					<span class="dash-widget-icon bg-primary">
						<i class="fas fa-laptop"></i>
					</span>
					<div class="dash-widget-info">
						<h3>{{numOfProducts}}</h3>
						<h6 class="text-muted">Products</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-body">
				<div class="dash-widget-header">
					<span class="dash-widget-icon bg-primary">
						<i class="fas fa-cog"></i>
					</span>
					<div class="dash-widget-info">
						<h3>{{numOfTests}}</h3>
						<h6 class="text-muted">Tested</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 col-12">
		<div class="card">
			<div class="card-body">
				<div class="dash-widget-header">
					<span class="dash-widget-icon bg-primary">
						<i class="fas fa-cog"></i>
					</span>
					<div class="dash-widget-info">
						<h3>{{numOfMaintained}}</h3>
						<h6 class="text-muted">Maintained</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 d-flex">

		<!-- Recent Products -->
		<div class="card card-table flex-fill">
			<div class="card-header">
				<h4 class="card-title">Recent Products</h4>
			</div>
			<div class="card-body admin_dash">
				<div class="table-responsive">
					<!-- <table class="table table-center">
						<thead>
							<tr>
								<th>Serial Number</th>
								<th>Model</th>
								<th>Date</th>
								<th>Status</th>
								<th>Quantity</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let product of lastFiveProducts">
								<td class="text-nowrap">{{product.serialNumber}}</td>

								<td class="text-nowrap">{{product.model}}</td>
								<td>{{product.addedAt |date: 'dd/MM/yyyy'}}</td>
								<td>
									<span class="badge bg-success inv-badge">{{product.status}}</span>
								</td>
								<td>
									<div class="font-weight-600">{{product.quantity}}</div>
								</td>
							</tr>

						</tbody>
					</table> -->

					<nz-table #basicTable [nzData]="lastFiveProducts">
						<thead>
						  <tr>
						 
							<th>Serial Number</th>
								<th>Model</th>
								<th>Date</th>
								<th>Status</th>
							
						  </tr>
						</thead>
						<tbody>
						  <tr *ngFor="let data of basicTable.data">
							<td class="text-nowrap">{{data.serialNumber}}</td>

								<td class="text-nowrap">{{data.model}}</td>
								<td>{{data.addedAt |date: 'dd/MM/yyyy'}}</td>
								<td>
									<span class="badge bg-success inv-badge">{{data.status}}</span>
								</td>
						
						  </tr>
						</tbody>
					  </nz-table>
				</div>
			</div>
		</div>
		<!-- /Recent Products -->

	</div>
	<div class="col-md-6 d-flex">

	
	</div>
</div>
