<!-- <div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Add Sale Invoice Form</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <form
              class="needs-validation"
              novalidate
              [formGroup]="saleInvoiceForm"
              autocomplete="off"
            >
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Customer Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Customer Name"
                    formControlName="customerName"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-4 mb-3" *ngIf="showPriceInput">
                  <label for="validationCustom01">Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Price"
                    formControlName="price"
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>

           
              </div>

              <div class="card-header col-md-4 mb-3">
                <h5 class="card-title">Products</h5>
              </div>
              <ng-container formArrayName="Products">
                <div *ngFor="let product of Products.controls;let i=index ">
                  <div class="form-row">
                    <ng-container
                    [formGroupName]="i"
                 
                    >
                      <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Serial Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Serial Number"
                          formControlName="productSerialNumber"
                          #Serial
                          [(ngModel)]="search"
                          (keypress)="enterPressed($event)"
                          (keyup)="searchSerial(search, $event)"
                          required
                        />
                        <div
                          *ngFor="let post of allSerialNumbers | filter: search"
                        >
                          <a
                            (click)="selectedSerial(post)"
                            *ngIf="!displayRecomendedSerial"
                            >{{ post }}</a
                          >
                        </div>
                      </div>
                      <div class="col-md-9" *ngIf="showdata">
                        <div class="display-flex">
                          <p>
                            <span style="color: #ff0080"> Serial Number:</span
                            ><span>{{ dataOnBlur?.serialNumber }} </span>
                          </p>
                          <p>
                            <span style="color: #ff0080"> Model:</span
                            ><span>{{ dataOnBlur?.model }} </span>
                          </p>
                          <p>
                            <span style="color: #ff0080"> Status:</span
                            ><span>{{ dataOnBlur?.status }} </span>
                          </p>

                          <span></span>
                        </div>
                      </div>
                      <div class="form-row">
                        <ng-container formGroupName="configuration">
                          <div class="col-md-4 mb-3">
                            <label for="validationCustom02">CPU</label>
                            <input
                              type="text"
                              class="form-control"
                              id="validationCustom02"
                              placeholder="CPU"
                              formControlName="configuration.cpu"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                          </div>

                          <div class="col-md-4 mb-3">
                            <label for="validationCustom02">RAM</label>
                            <input
                              type="text"
                              class="form-control"
                              id="validationCustom02"
                              placeholder="RAM"
                              required
                              formControlName="configuration.ram"
                            />
                            <div class="valid-feedback">Looks good!</div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="validationCustom02">Hard</label>
                            <input
                              type="text"
                              class="form-control"
                              id="validationCustom02"
                              placeholder="Hard"
                              formControlName="configuration.hard"
                              required
                            />
                            <div class="valid-feedback">Looks good!</div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label class="d-block">With Charger</label>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="withCharger"
                                id="withCharger_male"
                                formControlName="configuration.withCharger"
                                [value]="true"
                              />
                              <label class="form-check-label" for="gender_male"
                                >Yes</label
                              >
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="withCharger"
                                id="withCharger_female"
                                formControlName="configuration.withCharger"
                                [value]="false"
                              />
                              <label
                                class="form-check-label"
                                for="gender_female"
                                >No</label
                              >
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addNewSection()"
                >
                  Add another product
                </button>
              </div>
              <button
                class="btn btn-primary"
                type="button"
                (click)="onSubmit()"
              >
                Submit form
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->
