<!-- Row -->
<div class="row">
  <div class="col-sm-12">
    <!-- Custom Boostrap Validation -->
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Add Sale Invoice Form</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <form
              class="needs-validation"
              novalidate
              [formGroup]="saleInvoiceForm"
              (ngSubmit)="onSubmit()"
            >
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Customer Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Customer Name"
                    formControlName="customerName"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustom01">Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Price"
                    formControlName="price"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>


                <!-- <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Seller Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom02"
                    placeholder="Seller Name"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div> -->
              </div>

              <div class="card-header col-md-4 mb-3">
                <h5 class="card-title">Products</h5>
              </div>
              <ng-container formArrayName="Products">
                <div *ngFor="let product of Products.controls; index as i">
                  <div class="form-row">
                    <ng-container
                      [formGroupName]="i"
                      *ngFor="let element of newSection"
                    >
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Serial Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Serial Number"
                          formControlName="productSerialNumber"
                          required
                        />
                      </div>
                      <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Quantity</label>
                        <input
                          type="number"
                          class="form-control"
                          id="validationCustom02"
                          placeholder="Quantity"
                          formControlName="quantity"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                      </div>
                      <ng-container formGroupName="configuration">
                        <div class="col-md-4 mb-3">
                          <label for="validationCustom02">CPU</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom02"
                            placeholder="CPU"
                            formControlName="cpu"
                            required
                          />
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label class="d-block">With Charger</label>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="withCharger"
                              id="withCharger_male"
                              formControlName="withCharger"
                              [value]="true"
                            />
                            <label class="form-check-label" for="gender_male"
                              >Yes</label
                            >
                          </div>
                          <div class="form-check form-check-inline">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="withCharger"
                              id="withCharger_female"
                              formControlName="withCharger"
                              [value]="false"
                            />
                            <label class="form-check-label" for="gender_female"
                              >No</label
                            >
                          </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label for="validationCustom02">RAM</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom02"
                            placeholder="RAM"
                            required
                            formControlName="ram"
                          />
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <label for="validationCustom02">Hard</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom02"
                            placeholder="Hard"
                            formControlName="hard"
                            required
                          />
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
              <div class="text-right">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addNewSection()"
                >
                  Add another product
                </button>
              </div>
              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- /Validation Tooltips -->
  </div>
</div>
<!-- /Row -->
