<!-- Row -->
<div class="row">
    <div class="col-sm-12">
      <!-- Custom Boostrap Validation -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Add New Product Form</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              <form
                class="needs-validation"
                [formGroup]="form"
                autocomplete="off"
              >
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Serial Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationCustom01"
                      placeholder="Serial Number"
                      name="serialNumber"formControlName="serialNumber"
                      [ngClass]="{
                        'is-invalid': submitted && form.controls.serialNumber.errors
                      }" 
                    />
                    
                    <div
                    class="alert alert-danger my-1 p-2 fadeInDown animated"
                    *ngIf="submitted && form.controls.serialNumber.errors"
                  >
                   Field is required
                  </div>
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Model</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationCustom01"
                      placeholder="Model"
                      name="model"
                      formControlName="model" 
                      [ngClass]="{
                        'is-invalid': submitted && form.controls.model.errors
                      }" 
                      #Model
                      [(ngModel)]="search"
                      (keyup)="searchSerial(search)"
                    />
                    <div *ngFor="let serial of allSerialNumbers | filter: search">
                      <a
                        (click)="selectedSerial(serial)"
                        *ngIf="!displayRecomendedSerial"
                        >{{ serial }}</a
                      >
                    </div>
                    <div
                    class="alert alert-danger my-1 p-2 fadeInDown animated"
                    *ngIf="submitted && form.controls.model.errors"
                  >
                   Field is required
                  </div>
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                 
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Purchase Invoice Serial Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="validationCustom01"
                      placeholder="Purchase Invoice Serial Number"
                      name="purchaseSerialNumber"
                      formControlName="purchaseSerialNumber" 
                      [ngClass]="{
                        'is-invalid': submitted && form.controls.purchaseSerialNumber.errors
                      }" 
                    />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                 
                </div>
  
             
                <button class="btn btn-primary" type="submit" (click)="saveProduct()">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
