a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
   background-color: rgb(249 244 249);
}

 a:hover {
  background-color: rgb(179, 177, 177);
}
.widthOfinput{
  width: 100%;
}