<div class="login-page m-0">
  <div class="login-body container">
    <div class="loginbox">
      <div class="login-right-wrap">
        <div class="account-header">
          <div class="account-logo text-center mb-4">
            <a [routerLink]="'/admin'">
              <img src="assets/img/logo-icon.png" alt="" class="img-fluid" />
            </a>
          </div>
        </div>
        <div class="login-header text-center">
          <h3>Login <span>To Company</span></h3>
          <p class="text-muted">Access to our dashboard</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input
              class="form-control"
              type="text"
              placeholder="Enter your mail id"
              formControlName="email"
              [ngClass]="{
                'is-invalid': submitted && loginForm.controls.email.errors
              }"
            />
            <div class="invalid-feedback" *ngIf="!loginForm.controls.email">
              Please enter your password.
            </div>
          </div>

          <div class="form-group mb-4">
            <label class="control-label">Password</label>
            <input
              class="form-control"
              type="password"
              placeholder="Enter your password"
              formControlName="password"
              required
              [ngClass]="{
                'is-invalid': submitted && loginForm.controls.password.errors
              }"
            />
            <div class="invalid-feedback" *ngIf="!loginForm.controls.password">
              Please enter your password.
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-primary btn-block account-btn" type="submit">
              Login
            </button>
          </div>
          <div class="text-center dont-have mt-4">
           Create an account? <a routerLink="/register">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
