<nz-table #basicTable [nzData]="pricing">
    <thead>
      <tr>
        <th>Model</th>
        <th>Price</th>
       <th>Edit</th>
       <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.model }}</td>
        <td>{{ data.price }}</td>
        <td>   <a
          class="table-action-btn btn btn-sm bg-success-light"
          data-toggle="modal" data-target="#exampleModal"
          (click)="modelId=data._id;modelName=data.model;modelPrice=data.price"
        >
          Edit
        </a></td>
        <td>   <a
          class="table-action-btn btn btn-sm bg-danger-light"
         
          (click)="deletemodel(data._id)"

        >
          Delete
        </a></td>
   
      </tr>
    </tbody>
  </nz-table>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Model</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       <!-- Row -->
<div class="row">
  <div class="col-sm-12">
    <!-- Custom Boostrap Validation -->
    <div class="card">
  
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <form
              class="needs-validation"
              [formGroup]="form"
              autocomplete="off"
            >
              <div class="form-row">
             
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01">Model</label>
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    [ngModel]="modelName"
                    name="model"formControlName="model" 
                    [ngClass]="{
                      'is-invalid': submitted && form.controls.model.errors
                    }" 
                  />
                  <div
                  class="alert alert-danger my-1 p-2 fadeInDown animated"
                  *ngIf="submitted && form.controls.model.errors"
                >
                 Field is required
                </div>
                  <div class="valid-feedback">Looks good!</div>
                </div>
               
          
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01">Price</label>
                  <input
                    type="number"
                    class="form-control"
                    id="validationCustom01"
                    [ngModel]="modelPrice"
                    name="price"formControlName="price" 
                    [ngClass]="{
                      'is-invalid': submitted && form.controls.price.errors
                    }" 
                  />
                  <div
                  class="alert alert-danger my-1 p-2 fadeInDown animated"
                  *ngIf="submitted && form.controls.price.errors"
                >
                 Field is required
                </div>
                  <div class="valid-feedback">Looks good!</div>
                </div>
               
              
              </div>

           
              <button type="button" class="btn btn-primary mt-3" (click)="EditModel()">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- /Validation Tooltips -->
  </div>
</div>
<!-- /Row -->

        </div>
        <!-- <div class="modal-footer">
        </div> -->
      </div>
    </div>
  </div>