<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Model</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activemodal.dismiss('cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="EditFormPrice">
    <div class="form-group">
      <label for="dateOfBirth">Model</label>
      <div class="input-group">
        <input
          id="model"
          class="form-control"
          placeholder="Model.."
          name="model"
          formControlName="model"
        />
      </div>
      <br />
      <label for="price">Price</label>

      <div class="input-group">
        <input
          id="price"
          class="form-control"
          placeholder="Price.."
          name="peice"
          formControlName="price"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="EditPrice(); activemodal.dismiss()">
    Save
  </button>
</div>
