<div class="main-wrapper">

  <div class="login-page">
    <div class="login-body container">
      <div class="loginbox">
        <div class="login-right-wrap">
          <div class="account-header">
            <div class="account-logo text-center mb-4">
              <a href="index.html">
                <img src="assets/img/logo-icon.png" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="login-header">
            <h3>Forgot Password? <span>Truelysell</span></h3>
            <p class="text-muted">Enter your email to get a password reset link</p>
          </div>
          <form action="index.html">
            <div class="form-group mb-4">
              <label class="control-label">Email</label>
              <input class="form-control" type="text" placeholder="Enter your mail id">
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-block account-btn" type="submit">Reset Password</button>
            </div>
          </form>


              <div class="text-center dont-have">Remember your password? <a href="login.html">Login</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
